<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{../css/style.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Information</title>
</head>
<body>
<main>
    <header><h1>Information</h1></header>
    <img src="../static/images/info.png" id="infoPic" th:src="@{/images/info.png}"/>

    <nav>
        <ul>
            <li><a href="index.html" th:href="@{/index}">Home</a></li>
            <li><a href="distance.html" th:href="@{/distance}">Distance</a></li>
            <li><a href="liquid.html" th:href="@{/liquid}">Liquid</a></li>
            <li><a href="weight.html" th:href="@{/weight}">Weight</a></li>
            <li><a href="register.html" th:href="@{/register}">Register</a></li>
            <li><a href="profile.html" th:href="@{/profile}">Profile</a></li>
        </ul>

    </nav>


    <article id="information">
        <p id="troyInf">
            <strong>Troy</strong> weight is a system of units of mass that originated in 15th-century England, and is
            primarily used today in the precious metals industry. Its units are the grain, pennyweight (24 grains), troy
            ounce (20 pennyweights), and troy pound (12 troy ounces).
        </p>

        <p id="grainInf">
            A <strong>Grain</strong> is a unit of measurement of mass, and in the troy weight, avoirdupois, and
            Apothecaries' system, equal to exactly 64.79891 milligrams. It is nominally based upon the mass of a single
            virtual ideal seed of a cereal. From the Bronze Age into the Renaissance the average masses of wheat and
            barley grains were part of the legal definitions of units of mass.
        </p>

        <p id="cubitInf"><strong>Cubit</strong>
            The English word "cubit" comes from the Latin noun cubitus "elbow", from the verb cubo, cubare, cubui,
            cubitum "to lie down",[2] from which also comes the adjective "recumbent".
            The cubit is an ancient unit of length that had several definitions according to each of the various
            different cultures that used the unit. The unit was based on the forearm length from the tip of the middle
            finger to the bottom of the elbow. Cubits of various lengths were employed in many parts of the world in
            antiquity, during the Middle Ages and as recently as Early Modern Times. The term is still used in
            hedgelaying, the length of the forearm being frequently used to determine the interval between stakes placed
            within the hedge.
        </p>

        <p id="inchInf">
            The <strong>Inch</strong> (abbreviation: in or ″ ) is a unit of length in the (British) imperial and United
            States customary systems of measurement. It is equal to ​1⁄36 yard or ​1⁄12 of a foot. Derived from the
            Roman uncia ("twelfth"), the word inch is also sometimes used to translate similar units in other
            measurement systems, usually understood as deriving from the width of the human thumb. Standards for the
            exact length of an inch have varied in the past, but since the adoption of the international yard during the
            1950s and 1960s it has been based on the metric system and defined as exactly 25.4 mm.
        </p>
        <p id="footInf">
            The <strong>Foot</strong> (pl. feet; abbreviation: ft) is a unit of length in the imperial and US customary
            systems of measurement. Since 1959, both units have been defined by international agreement as equivalent to
            0.3048 meters exactly. In both systems, the foot comprises 12 inches and three feet compose a yard.

            Historically the "foot" was a part of many local systems of units, including the Greek, Roman, Chinese,
            French, and English systems. It varied in length from country to country, from city to city, and sometimes
            from trade to trade. Its length was usually between 250 mm and 335 mm and was generally, but not always,
            subdivided into 12 inches or 16 digits.
        </p>
        <p id="yardInf">
            The <strong>Yard</strong> (abbreviation: yd) is an English unit of length, in both the British imperial and
            US customary systems of measurement, that comprises 3 feet or 36 inches.
            Since 1959 it is by international agreement standardized as exactly 0.9144 meters.
        </p>
        <p id="siInf">
            SI derived units are units of measurement derived from the seven base units specified by the International
            System of Units (SI). They are either dimensionless or can be expressed as a product of one or more of the
            base units, possibly scaled by an appropriate power of exponentiation.

            The SI has special names for 22 of these derived units (for example, hertz, the SI unit of measurement of
            frequency), but the rest merely reflect their derivation: for example, the square metre (m2), the SI derived
            unit of area; and the kilogram per cubic metre (kg/m3 or kg m−3), the SI derived unit of density.
        </p>
        <p id="gillInf">
            The <strong>Gill</strong> (pronounced /ˈdʒɪl/ ) or teacup is a unit of measurement for volume equal to a
            quarter of a pint. It is no longer in common use, except in regard to the volume of alcoholic spirits
            measures.
        </p>
        <p id="pintInf">
            The <strong>Pint</strong> (/ˈpaɪnt/, symbol pt, sometimes abbreviated as "p") is a unit of volume or
            capacity in both the imperial and United States customary measurement systems. In both of those systems it
            is traditionally one-eighth of a gallon. The British imperial pint is about 20% larger than the American
            pint because the two systems are defined differently.
            The imperial pint (≈ 568 ml) is used in the United Kingdom and Ireland and to a limited extent in
            Commonwealth nations.
        </p>
        <p id="gallonInf">
            The <strong>Gallon</strong> (/ˈɡælən/) is a unit of measurement for volume and fluid capacity in both the US
            customary units and the British imperial systems of measurement. Three significantly different sizes are in
            current use: the imperial gallon defined as 4.54609 litres (4 imperial quarts or 8 imperial pints), which is
            used in the United Kingdom, Canada, and some Caribbean nations; the US gallon defined as 231 cubic inches (4
            US liquid quarts or 8 US liquid pints) or about 3.785 L, which is used in the US and some Latin American and
            Caribbean countries.
        </p>
        <p id="poundInf">
            The <strong>Pound</strong> or pound-mass is a unit of mass used in the imperial, United States customary and
            other systems of measurement. Various definitions have been used; the most common today is the international
            avoirdupois pound, which is legally defined as exactly 0.45359237 kilograms, and which is divided into 16
            avoirdupois ounces. The international standard symbol for the avoirdupois pound is lb; an alternative symbol
            is lbm (for most pound definitions).
        </p>
        <p id="minaInf">
            The <strong>Mina</strong> is an ancient Near Eastern unit of weight. The mina was also a unit of currency.
            However, before it was used as currency, a mina was a unit of measurement, equal to 1.25 pounds (0.57 kg).
        </p>

    </article>

    <footer>
        &copy; D.Petkov 2019
    </footer>
</main>
</body>
</html>